<div class="navStartContainer">
    <div class="userContainer" style="cursor: pointer;">
        <div class="profileView">
            <div class="thumb">
                <span class="thumb material-icons" style="background-color: var(--theme-color-prime);" c-bind="rolepkey:text:setUserThumb"></span>
            </div>
            <div class="infoContainer">
                <div class="info">
                    <span class="name" c-bind="username:text"></span>
                    <div class="detail" c-bind="rolepkey:text:formatRole"></div>
                </div>
                <div class="actions"></div>
            </div>
        </div>        
    </div>
    <div class="menuContainer">

        <div class="menuView" id="menu_overview_admin" viewlink="home.html" auth="admin" style="display:none">
            <span class="material-icons thumb">dashboard</span>
            <span class="name">홈(매입현황)</span>
        </div>
        <div class="menuView" id="menu_overview_agency" viewlink="home.html" auth="agency" style="display:none">
            <span class="material-icons thumb">dashboard</span>
            <span class="name">홈</span>
        </div>
        <div class="menuView" id="menu_overview_guest" viewlink="home.html" auth="guest" style="display: none;">
            <span class="material-icons thumb">dashboard</span>
            <span class="name">홈</span>
        </div>
        <div class="menuView" id="menu_land" auth="admin" style="display: none; color: #777;">
            <span class="material-icons thumb">remove</span>
            <span class="name">토지DB현황</span>
        </div>
        <div class="menuView sub" id="menu_land_sub_common" viewlink="realestate.html" auth="admin" style="display: none;">
            <span class="material-icons thumb">where_to_vote</span>
            <span class="name">기본사항</span>
        </div>
        <div class="menuView sub" id="menu_land_sub_estate" auth="admin" style="display: none; color: #777;">
            <span class="material-icons thumb">remove</span>
            <span class="name">부동산등기사항</span>
        </div>
        <div class="menuView sub2" id="menu_possession" viewlink="possession.html" auth="admin" style="display: none;">
            <span class="material-icons thumb">real_estate_agent</span>
            <span class="name">소유권</span>
        </div>
        <div class="menuView sub2" id="menu_mortgage" viewlink="mortgage.html" auth="admin" style="display: none;">
            <span class="material-icons thumb">paid</span>
            <span class="name">근저당권</span>
        </div>        
        <div class="menuView" id="menu_owner" viewlink="owner.html" auth="admin"  style="display: none;">
            <span class="material-icons thumb">person</span>
            <span class="name">개인DB</span>
        </div>
        <div class="menuView" id="menu_mortgagee" viewlink="mortgagee.html" auth="admin"  style="display: none;">
            <span class="material-icons thumb">account_balance</span>
            <span class="name">저당권자</span>
        </div>        
        <div class="menuView" id="menu_contract" viewlink="contract.html" auth="admin"  style="display: none;">
            <span class="material-icons thumb">handshake</span>
            <span class="name">계약</span>
        </div>
        <div class="menuView" id="menu_vote" viewlink="vote.html" auth="admin"  style="display: none;">
            <span class="material-icons thumb">how_to_vote</span>
            <span class="name">의결권</span>
        </div>

        <div class="menuView" id="menu_user" viewlink="user.html" auth="root" style="display: none;">
            <span class="material-icons thumb">manage_accounts</span>
            <span class="name">계정 관리</span>
        </div>

        <div class="menuView" id="menu_contract_agency" viewlink="mycontract.html" auth="agency"  style="display: none;">
            <span class="material-icons thumb">handshake</span>
            <span class="name">계약</span>
        </div>
        
        <div class="menuView" id="menu_team" viewlink="workplan.html" auth="admin" style="display: none;">
            <span class="material-icons thumb">work</span>
            <span class="name">작업팀 배정 현황</span>
        </div>
        
    </div>
</div>
<div class="navEndContainer" onclick="toggleNav()">
    <span class="material-icons toggle">chevron_left</span>
</div>


<script>
    
    let auth = $('nav').attr('auth');    
    $(".menuView[auth='"+ auth +"']").show();
    checkNavToken();    
    $('[viewlink]').each(function(){
        $(this).on('click', function(){
            if($(this).attr('viewlink')) { location.href = $(this).attr('viewlink'); }
        });
    });

    let currentMenuId = $('nav').attr('currentmenu');  
    document.querySelector(".menuView[viewlink='"+ currentMenuId +"'][auth='" + auth + "']").classList.add('active');
    
    
    function editProfile() {
        showToast("준비중입니다.");
    }

    function checkNavToken() {
        const navtoken = sessionStorage.getItem('nav');
        if(navtoken) {            
            $('.toggle').text('chevron_right');
            $('nav').addClass('shrink');
            try{onNavShrink()}catch{}
            return;                    
        }
        
    }

    function toggleNav() {        
        if($('nav').hasClass('shrink')) {            
            sessionStorage.removeItem('nav');
            $('.toggle').text('chevron_left');
            $('nav').removeClass('shrink');            
            try{onNavExpand()}catch{}
            return;
        }
        sessionStorage.setItem('nav', "Y");
        $('.toggle').text('chevron_right');
        $('nav').addClass('shrink');                
        try{onNavShrink()}catch{}
    }

    function toggleSubNav(ele) {
        if($(ele).hasClass('shrink')) {            
            sessionStorage.removeItem(ele.attr('kind'));
            $(ele).text('expand_more');
            $(ele).removeClass('shrink');            
            return;
        }
        sessionStorage.setItem($(ele).attr('kind'), "Y");
        $('.toggle').text('chevron_right');
        $(ele).addClass('shrink');
    }

    function setUserThumb(v, d, e) {
        if(v == "-1") { return "settings" }
        if(v == "1") { return "storefront" }
        if(v == "2") { return "assignment_ind" }
        if(v == "3") { return "person" }
        return v;
    }    
    
    function setDetail(v, d, e) {
        if(v == "com") { return "ADMIN"}
        if(v == "tm") { return "TEAM"}
        if(v == "me") { return "WORKER"}
    }

</script>