<div class="navStartContainer">
    <div class="userContainer" style="cursor: pointer;">
        <div class="profileView">
            <div class="thumb">
                <span class="thumb material-icons" style="background-color: var(--theme-color-prime); display: none;" c-bind="auth:text:setUserThumb">setUserThumb</span>
                <span class="thumb material-icons" style="background-color: var(--theme-color-prime);">storefront</span>
            </div>
            <div class="infoContainer">
                <div class="info">
                    <span class="name">유바울</span>
                    <div class="detail">관리자</div>
                </div>
                <div class="actions"></div>
            </div>
        </div>        
    </div>
    <div class="menuContainer">
        <div class="menuView" id="menu_overview" viewlink="home.html" auth="all">
            <span class="material-icons thumb">dashboard</span>
            <span class="name">홈</span>
        </div>
        <div class="menuView" id="menu_overview" viewlink="realestate.html" auth="all">
            <span class="material-icons thumb">where_to_vote</span>
            <span class="name">공시</span>
        </div>
        <div class="menuView" id="menu_overview" viewlink="possession.html" auth="all">
            <span class="material-icons thumb">real_estate_agent</span>
            <span class="name">소유권</span>
        </div>
        <div class="menuView" id="menu_overview" viewlink="owner.html" auth="all">
            <span class="material-icons thumb">person</span>
            <span class="name">소유자</span>
        </div>
<!--         <div class="menuView" id="menu_overview" viewlink="mortgagee.html" auth="all">
            <span class="material-icons thumb">paid</span>
            <span class="name">mortgagee</span>
        </div> -->
        <div class="menuView" id="menu_overview" viewlink="contract.html" auth="all">
            <span class="material-icons thumb">handshake</span>
            <span class="name">계약</span>
        </div>
        <div class="menuView" id="menu_overview" viewlink="user.html" auth="all">
            <span class="material-icons thumb">manage_accounts</span>
            <span class="name">계정관리</span>
        </div>
        
    </div>
</div>
<div class="navEndContainer" onclick="toggleNav()">
    <span class="material-icons toggle">chevron_left</span>
</div>


<script>
    //checkNavToken();    
    //setCurrentUser($('#app').attr('user'));
    let auth = $('nav').attr('auth');    
    $(".menuView[auth='"+ auth +"']").show();
    $('[viewlink]').each(function(){
        $(this).on('click', function(){            
            location.href = $(this).attr('viewlink');
        });
    });

    let currentMenuId = $('nav').attr('currentmenu');  
    document.querySelector(".menuView[viewlink='"+ currentMenuId +"']").classList.add('active');
    
    
    function editProfile() {
        showToast("준비중입니다.");
    }

    function checkNavToken() {
        const token = sessionStorage.getItem('nav');        
        if(token) {            
            $('.toggle').text('chevron_right');
            $('nav').addClass('shrink');
            try{onNavShrink()}catch{}
            return;                    
        }        
    }

    function toggleNav() {        
        if($('nav').hasClass('shrink')) {            
            sessionStorage.removeItem('nav');
            $('.toggle').text('chevron_left');
            $('nav').removeClass('shrink');            
            try{onNavExpand()}catch{}
            return;
        }
        sessionStorage.setItem('nav', "Y");
        $('.toggle').text('chevron_right');
        $('nav').addClass('shrink');                
        try{onNavShrink()}catch{}
    }

    function setUserThumb(v, d, e) {
        if(v == "com") { return "storefront" }
        if(v == "tm") { return "assignment_ind" }
        if(v == "me") { return "person" }
        return v;
    }    
    
    function setDetail(v, d, e) {
        if(v == "com") { return "ADMIN"}
        if(v == "tm") { return "TEAM"}
        if(v == "me") { return "WORKER"}
    }

</script>